<div class="container text-center">
  <h2><%= @quiz.name %>: (<%= @quiz.questions.length %> questions)</h2>
  <h3 id="score-display">Your Score: <span id="score">0</span></h3>
  <div class="quiz-container">
    <% @quiz.questions.each do |question| %>
      <div class="question-container">
        <p><%= question.content %> <span id="points">(<%= pluralize(question.score, 'point') %>)</span></p>
        <% question.options.each do |option| %>
            <li>
              <%= link_to option.text, "#",
                  class: 'btn btn-histohumans quiz-option',
                  "data-attribute": "#{option.correct}" %>
            </li>
        <% end %>
      </div>
    <% end %>
    <%= link_to "Back to Quizzes", quizzes_path, class: 'btn btn-histohumans' %>
  </div>
</div>

<%= javascript_pack_tag 'quiz-options' %>
