<div class="container text-center index-div">
  <h2>Search within the map or by Continent:</h2>
  <p>Just click on the country to display the characters</p>
  <div id="map-div">
    <%= render 'components/map' %>
  </div>
    <div class="continents-box border-shadow">
      <div class="continents-list text-center">
        <% @continents.each do |continent| %>
          <%= link_to "#{continent.name}", "#", class: 'continent-link btn btn-histohumans side-margin' unless continent.name == 'Antarctica' %>
            <% continent.countries.sort.each do |country| %>
              <% if country.people? %>
                <div class="<%= "#{continent.name}" %> hidden country-card" id=<%= country.code %>>
                  <div class="card" style="background-image: linear-gradient(rgba(250,250,250,0.4), rgba(250,250,250,0.4)), url('<%= cl_image_path country.photo, crop: :fill, quality: 40; %>')">
                    <div class="card-description"><h2 class="country-name"><%= country.name %></h2></div>
                    <img class="card-flag" src="<%= country.flag %>">
                    <a class="card-link" href="#" ></a>
                  </div>
                  <div class="people-list hidden">
                    <ul>
                      <% country.people_with_number(5).each do |person| %>
                        <li class="person-line">
                          <% unless person.photo.empty? %>
                            <%= image_tag "https://res.cloudinary.com/dxjfmbg7v/image/fetch/q_20/#{person.photo}",
                                          alt: "alttext",
                                          class: "card-user" %>
                          <% end %>
                          <%= link_to "#{person.first_name} #{person.last_name}", person_path(person) %>
                        </li>
                    <% end %>
                  </ul>
                </div>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </div>
      <div class="countries-list cards-list"></div>
    </div>
</div>

<%= javascript_pack_tag 'toggle-country' %>
<%= javascript_pack_tag 'toggle-people' %>
