<%= render 'components/navbar' %>
<div class="container text-center">
  <h2><%= @person.first_name %> <%= @person.last_name %></h2>
  <%= image_tag @person.photo, alt: "alttext", class: 'person-photo' %>
  <h4><%= @person.birthdate %> - <%= @person.death || "present" %></h4>
  <%= image_tag @person.country.flag, alt: "flag", class: 'country-flag' %>
  <p><%= @person.bio %></p>
  <%= link_to "", "https://en.wikipedia.org/wiki/#{@person.first_name}_#{@person.last_name}",
              class: 'fab fa-wikipedia-w' %>
  <%= render 'components/index-link' %>
</div>
